body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: #000000;
    /**/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

canvas {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
}